{% if settings.popup--enable %}

<div id="popup" data-desktop-type="{{ settings.desktop-popup-style }}">
    <input type="hidden" id="pop-up-time" value="{{ settings.pop-up-time }}" />

	<div id="fullscreen" class="wrapper popup" style="display:none;">

		<div class="grid display-table">
			<div class="grid__item display-table-cell {% if settings.popup--show-image %}large--one-half {% else %} large--one-whole {% endif %}">
				<div class="popup--body">
                    {% if settings.settings.pop-up-text-header-text != empty %}
						<h2 class="custom-font">{{ settings.pop-up-text-header-text }}</h2>
                    {% endif %}
                    {% if settings.pop-up-text-description-text != empty %}
						<div class="popup--description">
                        	{{ settings.pop-up-text-description-text }}
						</div>
                    {% endif %}

                    {% if settings.popup--show-newsletter %}
						<div id="subs-container" class="clearfix">
							<div id="mc_embed_signup">
                                {% form 'customer' %}
                                {{ form.errors | default_errors }}
                                {% if form.posted_successfully? %}
									<p class="note form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
                                {% else %}
									<div class="input-group">
										<div class="form-control">
										<input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email" class="input-group-field footer-email-input" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}">
										<input type="hidden" name="contact[tags]" value="newsletter">
										</div>
										<div class="form-control">
										<span>
										<input type="submit" class="btn footer-email-submit" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
										</span>
										</div>
										<div class="newsletter--blurb"></div>
									</div>
                                {% endif %}
                                {% endform %}
							</div>
						</div>
                    {% endif %}

                    {% if settings.popup--show-social-icons %}
                        {% if settings.sm_facebook_link != blank or settings.sm_twitter_link != blank or settings.sm_youtube_link != blank or settings.sm_flickr_link != blank or settings.sm_pinterest_link != blank or settings.sm_instagram_link != blank %}
							<div class="social-media-footer">
								<ul id="sm-icons" class="clearfix">
                                    {% if settings.sm_facebook_link != blank %}<li id="sm-facebook"><a href="{{settings.sm_facebook_link}}"><i class="fa fa-facebook fa-2x"></i></a></li>{% endif %}
                                    {% if settings.sm_twitter_link != blank %}<li id="sm-twitter"><a href="{{settings.sm_twitter_link}}"><i class="fa fa-twitter fa-2x"></i></a></li>{% endif %}
                                    {% if settings.sm_youtube_link != blank %}<li id="sm-youtube"><a href="{{settings.sm_youtube_link}}"><i class="fa fa-youtube fa-2x"></i></a></li>{% endif %}
                                    {% if settings.sm_flickr_link != blank %}<li id="sm-flickr"><a href="{{settings.sm_flickr_link}}"><i class="fa fa-flickr fa-2x"></i></a></li>{% endif %}
                                    {% if settings.sm_pinterest_link != blank %}<li id="sm-pinterest"><a href="{{settings.sm_pinterest_link}}"><i class="fa fa-pinterest fa-2x"></i></a></li>{% endif %}
                                    {% if settings.sm_instagram_link != blank %}<li id="sm-instagram"><a href="{{settings.sm_instagram_link}}"><i class="fa fa-instagram fa-2x"></i></a></li>{% endif %}

								</ul>
							</div>
                        {% endif %}
                    {% endif %}
				</div>

			</div>

            {% if settings.popup--show-image %}

                {%- assign img_url = '' -%}

                {% if settings.popup-newsletter-top != blank %}
                    {%- assign img_url = settings.popup-newsletter-top | img_url: '545x' -%}
                {% else %}
                    {%- assign img_url = '' -%}
                {% endif %}

				<div class="grid__item large--one-half popup_image display-table-cell">
							<div class="popup_image--inner">
								{% if img_url == blank %}
									{{ 'image' | placeholder_svg_tag: 'icon icon--placeholder' }}
								{% else %}
									<img src="{{ img_url }}" class="img-responsive" />
								{% endif %}
							</div>

				</div>
            {% endif %}
		</div>

	</div>

	<div id="slide-up" class="wrapper" style="display:none;">

		<a class="popup--close-btn"><i class="fa fa-times fa-2x" aria-hidden="true"></i></a>

		<div class="grid">

			{%- assign img_url = '' -%}

			{% if settings.popup-newsletter-top != blank %}
				{%- assign img_url = settings.popup-newsletter-top | img_url: '300x' -%}
			{% else %}
				{%- assign img_url = '' -%}
			{% endif %}

			{% if settings.popup--show-image %}
			<div class="grid__item medium--one-half large--one-half small--hide popup--image-wrapper">
				<div class="popup--image">
					{% if img_url == blank %}
						{{ 'image' | placeholder_svg_tag: 'icon icon--placeholder' }}
					{% else %}
						<img src="{{ img_url }}" class="img-responsive" />
					{% endif %}
				</div>
			</div>
			{% endif %}

			<div class="grid__item medium--one-half large--one-third">
				<div class="popup--body">
					{% if settings.settings.pop-up-text-header-text != empty %}
						<h3 class="custom-font">{{ settings.pop-up-text-header-text }}</h3>
					{% endif %}
					{% if settings.pop-up-text-description-text != empty %}
						{{ settings.pop-up-text-description-text }}
					{% endif %}

					{% if settings.popup--show-newsletter %}
						<div id="subs-container" class="clearfix">
							<div id="mc_embed_signup">
                {% form 'customer' %}
                {{ form.errors | default_errors }}
                {% if form.posted_successfully? %}
                <p class="note form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
                {% else %}
                <div class="input-group">
                <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email" class="input-group-field footer-email-input" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}">
                <input type="hidden" name="contact[tags]" value="newsletter">
                <span>
                <input type="submit" class="btn footer-email-submit" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
                </span>
                </div>
                {% endif %}
                {% endform %}
							</div>
						</div>
					{% endif %}

					{% if settings.popup--show-social-icons %}
					{% if settings.sm_facebook_link != blank or settings.sm_twitter_link != blank or settings.sm_youtube_link != blank or settings.sm_flickr_link != blank or settings.sm_pinterest_link != blank or settings.sm_instagram_link != blank %}
					<div class="social-media-footer">
					<ul id="sm-icons" class="clearfix">
						{% if settings.sm_facebook_link != blank %}<li id="sm-facebook"><a href="{{settings.sm_facebook_link}}"><i class="fa fa-facebook fa-2x"></i></a></li>{% endif %}
						{% if settings.sm_twitter_link != blank %}<li id="sm-twitter"><a href="{{settings.sm_twitter_link}}"><i class="fa fa-twitter fa-2x"></i></a></li>{% endif %}
					  {% if settings.sm_youtube_link != blank %}<li id="sm-youtube"><a href="{{settings.sm_youtube_link}}"><i class="fa fa-youtube fa-2x"></i></a></li>{% endif %}
					  {% if settings.sm_flickr_link != blank %}<li id="sm-flickr"><a href="{{settings.sm_flickr_link}}"><i class="fa fa-flickr fa-2x"></i></a></li>{% endif %}
						{% if settings.sm_pinterest_link != blank %}<li id="sm-pinterest"><a href="{{settings.sm_pinterest_link}}"><i class="fa fa-pinterest fa-2x"></i></a></li>{% endif %}
					  {% if settings.sm_instagram_link != blank %}<li id="sm-instagram"><a href="{{settings.sm_instagram_link}}"><i class="fa fa-instagram fa-2x"></i></a></li>{% endif %}

					</ul>
					</div>
					{% endif %}
          {% endif %}
				</div>
			</div>

		</div>

	</div>

	{% endif %}

</div>

<script type="text/javascript">
	window.addEventListener('load', function() {
		var show_popup = false;
		var pop_up_time = $('#pop-up-time').val();
		var popup_enabled = pop_up_time !== undefined;
		var has_popup_cookie = $.cookie('popup-cookie') === 'true';

		if (!popup_enabled) {
			// popup is disabled
			return;
		} else if (pop_up_time === '0') {
			// popup is shown every time
			show_popup = true;
		} else if (!has_popup_cookie) {
			// popup cookie is not set, show popup this time
			show_popup = true;
			$.cookie('popup-cookie', 'true', {expires: parseInt(pop_up_time)});
		}
		if (show_popup) {

		    if($(window).width() < 769){

                showSlideUpPopup();

			} else {

		        if("{{ settings.desktop-popup-style }}" == "fullscreen"){

                    showFullScreenPopup();

				} else {

                    showSlideUpPopup();

				}

			}

		}

		$('.popup--close-btn').on('click', function () {
			document.querySelector('#popup').classList.remove('visible');
		});
	});

	function showSlideUpPopup(){

	    if("{{ settings.popup--enable }}" == "true") {

            document.querySelector('#popup #slide-up').removeAttribute("style");
            document.querySelector('#popup').classList.add('slide-up');
            document.querySelector('#popup').classList.add('visible');

        }

	}

	function showFullScreenPopup(){

        if("{{ settings.popup--enable }}" == "true")
        {

            document.querySelector('#popup').classList.add('fullscreen');
            document.querySelector('#popup #fullscreen').removeAttribute("style");

            $.fancybox({
                'autoScale': true,
                'transitionIn': 'elastic',
                'transitionOut': 'elastic',
                'speedIn': 500,
                'speedOut': 300,
                'autoDimensions': true,
                'centerOnScroll': true,
                'href': '#popup #fullscreen',
                tpl: {
                    closeBtn: '<div class="popup--close fancybox-close"></div>'
                }
            });

        }

	}

</script>
