{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'jpg' %}
{% assign current_variant = product.selected_or_first_available_variant %}

{% if swatch == blank %}
<div class="swatch error">
  <p>You must include the snippet swatch.liquid with the name of a product option.</p>
  <p>Use: <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
  <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
</div>
{% else %}

{% assign found_option = false %}
{% assign is_color = false %}
{% assign option_index = 0 %}
{% assign is_size = false %}

{% for option in product.options %}
  {% if option == swatch %}
    {% assign found_option = true %}
    {% assign option_index = forloop.index0 %}
    <style>
      label[for="product-select-option-{{ option_index }}"] { display: none; }
      #product-select-option-{{ option_index }} { display: none; }
      #product-select-option-{{ option_index }} + .custom-style-select-box { display: none !important; }
    </style>
    {% assign downcased_option = swatch | downcase %}
    {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
      {% assign is_color = true %}
    {% endif %}
    {% if downcased_option contains 'size' or downcased_option contains 'sizes' %}
      {% assign is_size = true %}
    {% endif %}
  {% endif %}
{% endfor %}

{% unless found_option %}
<div class="swatch error">
  <p>You included the snippet swatch.liquid with the name of a product option — <code>'{{ swatch }}'</code> — that does not belong to your product.</p>
  <p>Use <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
  <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
  <p><strong>This is case-sensitive!</strong> Do not put in <code>'color'</code> if your product option name is <code>'Color'</code>.</p>
</div>
{% else %}
  	{% if is_size %}

          <div class="hide-on-mobile">
          <!-- Display size chart only for product with multiple sizes -->
          {% for tag in product.tags %}
          	{% if tag contains 'Size Guide'%}
                  	<a href="#"><span class="sizechart">Size Guide ></span></a>            			
          	{% endif %}
          {% endfor %}           
          </div>
  	{% endif %}  

<div  class="fieldRequired swatch clearfix swatch{{ option_index }} {{ swatch | handleize }}" data-option-index="{{ option_index }}">
  <div class="header">{{ swatch }}</div>
  {% assign values = '' %}
  {% for variant in product.variants %}
    {% assign value = variant.options[option_index] %}
    {% unless values contains value %}
      {% assign values = values | join: ',' %}
      {% assign values = values | append: ',' | append: value %}
      {% assign values = values | split: ',' %}
      <div data-value="{{ value | escape }}" class="swatch-element {% if is_color %}color {% endif %}{{ value }}">
        {% if is_color %}
        <div class="tooltip">{{ value }}</div>
        {% endif %}
        <input id="swatch-{{ option_index }}-{{ value | replace: '+', 'plus' | handle }}" type="radio" name="option-{{ option_index }}"  required  qty="{{ variant.inventory_quantity }}" value="{{ value | escape }}" name="{{ swatch }}"  />
        {% if is_color %}
        <label name="{{ swatch }}" for="swatch-{{ option_index }}-{{ value | replace: '+', 'plus' | handle }}" data-swatch="{{ value | handle }}" style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | append: '.' | append: file_extension | asset_url }})">
        </label>
        {% else %}
        <label data-swatch="{{ value | replace: '+', 'plus' | handle }}" for="swatch-{{ option_index }}-{{ value | replace: '+', 'plus' | handle }}">
          {{ value }}
        </label>
        {% endif %}
      </div>
    {% endunless %}
  {% endfor %}
  	{% if is_size %}
     <div class="hide-on-desktop mobileSizeGuide">
          <!-- Display size chart only for product with multiple sizes -->
          {% for option in product.options_with_values %}
          	{% if option.name == 'Size' and option.values.size >= 2  %}
                  	<a href="#"><p class="sizechart">Size Guide ></p></a>            			
          	{% endif %}
          {% endfor %}          
     </div>  
  	{% endif %}  
</div>


{% endunless %}

{% endif %}


