{% case section.settings.colors %}
  {% when 'white' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--white">
  {% when 'light' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--light">
  {% when 'accent' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--accent">
  {% when 'dark' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--dark">
{% endcase %}

<div class="wrapper">

<div class="image-bar grid">
{% case section.blocks.size %}
  {% when 1 %}
    {%- assign column_size = '' -%}
    {%- assign image_size = '2000x' -%}
  {% when 2 %}
    {%- assign column_size = 'large--one-half' -%}
    {%- assign image_size = '1000x' -%}
  {% when 3 %}
    {%- assign column_size = 'large--one-third' -%}
    {%- assign image_size = '700x' -%}
  {% else %}
    {%- assign column_size = 'large--one-quarter' -%}
    {%- assign image_size = '550x' -%}
{% endcase %}

{% for block in section.blocks %}
  <!-- HC - If the block is an image - 29 Sep '17 -->
  {% if block.type == 'image' %}
    {%- assign img_url = '' -%}
    <div class="grid__item {{ column_size }}" {{ block.shopify_attributes }}>
      {% if block.settings.image != blank %}
        {%- assign img_url = block.settings.image | img_url: image_size -%}
      {% else %}
        {%- assign img_url = '' -%}
      {% endif %}
      {% if block.settings.link != blank and img_url != blank %}
      <a href="{{ block.settings.link }}">         
      {% elsif img_url != blank %}
        <div class="image-bar__item">
      {% else %}
        <div class="image-bar__item">
      {% endif %}
     
          <div class="image-bar__content container">
 
        {% if img_url == blank %}
            {{ 'image' | placeholder_svg_tag: 'icon icon--placeholder' }}            
        {% else %}
          <img src="{{ img_url }}" class="img-responsive" />
          <!-- HC - Homepage gallery product overlay - 6 Oct '17 --> 
            {% if block.settings.text != blank %}
            <div class="overlay">
              <div class="text">{{ block.settings.text }}</div>
            </div>
            {% endif %}
        {% endif %}
      </div>
      {% if block.settings.link != blank and img_url != blank %}
        </a>
      {% else %}
        </div>
      {% endif %}
    </div>
  {% elsif block.type == 'video' %}
      <!-- HC - New video block - 29 Sep '17 -->
      <div class="grid__item {{ column_size }} grid-video" {{ block.shopify_attributes }}>
          <div class="gallery-video" style="background: url(//cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif) no-repeat; background-size: cover;">
              <div class="embed-container">
                  <div class="main-video" style="padding-bottom: 56%;">
                      <div class="video-container">
                          <video id="middle-video" autoplay loop playsinline webkit-playsinline muted class="video-player" poster="https://cdn.shopify.com/s/files/1/1407/3982/files/frame_768x768.jpg?v=1507902331">
                              <source src="https://player.vimeo.com/external/237992788.hd.mp4?s=bf93ba4ee3c4378ce5fded39f63d20ac3a690d17&profile_id=175" type="video/mp4" />
                          </video>
                    </div>
                  </div>
               </div>
          </div>
      </div>
  {% endif %}
{% endfor %}

{% if section.blocks.size == 0 %}
<div class="placeholder-noblocks">
  {{ 'homepage.onboarding.no_content' | t }}
</div>

{% endif %}
</div>

</div>

</div>
      
      
{% schema %}
{
  "name": "Gallery",
  "class": "image-gallery-wrapper show-on-scroll",
  "max_blocks": 6,
  "settings": [
    {
      "type": "select",
      "id": "colors",
      "label": "Color scheme",
      "default": "white",
      "options": [
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "light",
          "label": "Light"
        },
        {
          "value": "accent",
          "label": "Feature"
        },
        {
          "value": "dark",
          "label": "Dark"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "info": "Optional"
        }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "settings": [
      {
        "type": "video_url",
        "id": "video_url",
        "label": "Video URL (youtube)",
        "accept": ["youtube", "vimeo"]
      },
      {
        "type": "image_picker",
        "id": "video_bg",
        "label": "Background image (optional)"
      }
      ]
    }
  ],
  "presets": [
    {
      "name": "Gallery",
      "category": "Image",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
