{% assign current_date = "now" | date: "%Y%m%d" %}
{% assign current_day = "now" | date: "%d" %}
{% assign current_month = "now" | date: "%m" %}
{% assign current_year = "now" | date: "%Y" %}
{% assign today = current_date | plus:0 %}
<!-- Sale Popup -->

{% for block in section.blocks %}

{% assign sale_start_month = block.settings.start_month %}
{% assign sale_end_month = block.settings.end_month %}
{% assign sale_start_year = block.settings.start_year %}
{% assign sale_end_year = block.settings.end_year %}
{% assign sale_start_day = block.settings.start_day %}
{% assign sale_end_day = block.settings.end_day %}

{% capture var1 %}
	{{sale_start_year}}{{sale_start_month}}{{sale_start_day}}
{% endcapture %}

{% capture var2 %}
	{{sale_end_year}}{{sale_end_month}}{{sale_end_day}}
{% endcapture %}

{% assign sale_start = var1 | plus: 0 %}
{% assign sale_end = var2 | times: 1 %}

{% if today >= sale_start %}
	{% assign start_check = true %}
{% else %}
	{% assign start_check = false %}
{% endif %}
{% if today <= sale_end %}
	{% assign end_check = true %}
{% else %}
	{% assign end_check = false %}
{% endif %}


{% if start_check and end_check %}
<div class="gba-salePopup gba-close-salePopup">
  <div class="gba-popupWrapper">
    <div class="gba-content">
      <div class="gba-salePopup-close gba-close-salePopup">X</div>
      <div class="image">
      	<img src="{{block.settings.image | img_url:'master' }}" />
      </div>
      <div class="button">
        {% if block.settings.url == blank %}
        <a class="gba-close-salePopup">{{block.settings.button_text}}</a>
        {% else %}
        <a href="{{block.settings.url}}">{{block.settings.button_text}}</a>        
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    
    function gba_salePopup_launch(){
    	$('.gba-salePopup').fadeIn();
    }
    
    function gba_salePopup_close(){
    	$('.gba-salePopup').fadeOut();
    }    
    
    
    $('.gba-close-salePopup').click(function(){
    	gba_salePopup_close();
    });
    
             
    var checkSalePopup = $.cookie('{{block.id}}');
    console.log(checkSalePopup);
    
    if(checkSalePopup == '{{block.id}}'){
      // Do nothing
    }else{
        gba_salePopup_launch();
        $.cookie('{{block.id}}', '{{block.id}}');
    }
      
      
  });
</script>
{% endif %}

{% endfor %}




<!-- Sale Popup end --> 




{% schema %}
  {
    "name": "Timed Popup Settings",
    "settings": [
  	],
  	"blocks":[
  		{
  			"name":"Add a notification popup",
			"type":"new_popup",
  			"settings":[
                {
                   "type": "text",
                   "id":   "text",
				   "label": "Popup Text"
                },
                {
                   "type": "image_picker",
                   "id":   "image",
				   "label": "Promotional Image"
                },
                {
                   "type": "url",
                   "id":   "url",
				   "label": "Button URL",
					"info": "If left blank, button will close the popup"
                },
                {
                   "type": "text",
                   "id":   "button_text",
				   "label": "Button Text"
                },
                {
                   "type":      "header",
                   "content":   "Promotion Start Date",
                   "info":      "Enter the date you wish the promotion popup to appear. It will always start at 12am on that day."
                },
				{
					"id": "start_month",
					"type":"select",
					"label":"Month",
					"options":[
                       {
                         "group": "Select Month",
                         "value": "01",
                         "label": "Jan"
                       },
                       {
                         "group": "Select Month",
                         "value": "02",
                         "label": "Feb"
                       },	
                       {
                         "group": "Select Month",
                         "value": "03",
                         "label": "Mar"
                       },
                       {
                         "group": "Select Month",
                         "value": "04",
                         "label": "Apr"
                       },	
                       {
                         "group": "Select Month",
                         "value": "05",
                         "label": "May"
                       },
                       {
                         "group": "Select Month",
                         "value": "06",
                         "label": "June"
                       },	
                       {
                         "group": "Select Month",
                         "value": "07",
                         "label": "Jul"
                       },
                       {
                         "group": "Select Month",
                         "value": "08",
                         "label": "Aug"
                       },	
                       {
                         "group": "Select Month",
                         "value": "09",
                         "label": "Sept"
                       },
                       {
                         "group": "Select Month",
                         "value": "10",
                         "label": "Oct"
                       },	
                       {
                         "group": "Select Month",
                         "value": "11",
                         "label": "Nov"
                       },
                       {
                         "group": "Select Month",
                         "value": "12",
                         "label": "Dec"
                       }
					]
                },
				{
					"type":"text",
					"id":"start_day",
					"label":"Day"
				},
				{
					"type":"text",
					"id":"start_year",
					"label":"Year"
				},
                {
                   "type":      "header",
                   "content":   "Promotion End Date",
                   "info":      "Enter the date you wish the promotion popup to appear stop. It will always end at 11:59PM on that day."
                },
				{
					"id": "end_month",
					"type":"select",
					"label":"Month",
					"options":[
                       {
                         "group": "Select Month",
                         "value": "01",
                         "label": "Jan"
                       },
                       {
                         "group": "Select Month",
                         "value": "02",
                         "label": "Feb"
                       },	
                       {
                         "group": "Select Month",
                         "value": "03",
                         "label": "Mar"
                       },
                       {
                         "group": "Select Month",
                         "value": "04",
                         "label": "Apr"
                       },	
                       {
                         "group": "Select Month",
                         "value": "05",
                         "label": "May"
                       },
                       {
                         "group": "Select Month",
                         "value": "06",
                         "label": "June"
                       },	
                       {
                         "group": "Select Month",
                         "value": "07",
                         "label": "Jul"
                       },
                       {
                         "group": "Select Month",
                         "value": "08",
                         "label": "Aug"
                       },	
                       {
                         "group": "Select Month",
                         "value": "09",
                         "label": "Sept"
                       },
                       {
                         "group": "Select Month",
                         "value": "10",
                         "label": "Oct"
                       },	
                       {
                         "group": "Select Month",
                         "value": "11",
                         "label": "Nov"
                       },
                       {
                         "group": "Select Month",
                         "value": "12",
                         "label": "Dec"
                       }
					]
                },
				{
					"type":"text",
					"id":"end_day",
					"label":"Day"
				},
				{
					"type":"text",
					"id":"end_year",
					"label":"Year"
				}
  			]
  		}
  	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
