{% layout none %}
<!DOCTYPE html>
<html>

<head>
	<!-- CSS -->

  {{ 'password.scss.css' | asset_url | stylesheet_tag }}	
	{% include 'font-links' %}
	<title>{{ 'coming_soon.general.title' | t }}</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />	
	
</head>

<body>


<header id="site-header" style="display: none;">
  {https://cdn.shopify.com/s/files/1/1407/3982/files/Bleusalt_finalLOGO-websafe_navy.png?3731378004637598846}
	<div class="site-header--inner">
     
   
		{% form 'storefront_password' %}
			{{ form.errors | default_errors }}
      <div class="form-group">
			<label for='password'>{{ 'coming_soon.general.password' | t }}</label>
			<div class="input-group">		
			<input type='password' name='password' id='password' class="form-control password--input" autofocus />
			<span class="input-group-btn"><input class="btn btn-default" name="commit" type="submit" value="{{ 'coming_soon.general.continue' | t }}" /></span>
			</div>
			</div>
		{% endform %}
		<p class="password--store-owner">{{ 'coming_soon.general.store_owner' | t }} {{ 'coming_soon.general.store_owner_html' | t }}</p>
		<div class="password--close"><a href="#"><img src="{{ 'close.png' | asset_url }}" alt="Close" /></a></div>
	</div>     
</header>

<div class="password--wrapper">
	
	<div class="password--main">
	
		<div class="password--logo">       
				<a href="/" class="site-header__logo-link">
					<img src="https://cdn.shopify.com/s/files/1/1407/3982/files/Bleusalt_finalLOGO-websafe_navy.png?3731378004637598846">
				</a>

		</div>
	
		{% if shop.password_message and shop.password_message != '' %}
			<div class="welcome-message custom-font">
				<h1>{{ shop.password_message }}</h1>
			</div>
		{% else %}
			<div class="welcome-message custom-font">
				<h1>{{ 'coming_soon.general.opening_soon' | t }}</h1>
			</div>
		{% endif %}
		
		<div class="password--mailing-list">
				<form id="email_signup" class="klaviyo_condensed_styling klaviyo_condensed_float klaviyo_condensed_embed_LW6VmH" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
  <input type="hidden" name="g" value="LW6VmH">
  <div class="klaviyo_field_group">
    <label for="k_id_email">Newsletter Sign Up</label>
    <input type="email" value="" name="email" id="k_id_email" placeholder="Your email" />
  </div>
  <div class="klaviyo_messages">
    <div class="success_message" style="display:none;"></div>
    <div class="error_message" style="display:none;"></div>
    </div>
  <div class="klaviyo_form_actions">
    <button type="submit" class="klaviyo_submit_button">Subscribe</button>
  </div>
</form>
<style type="text/css">
.klaviyo_styling.klaviyo_condensed_embed_LW6VmH,
.klaviyo_condensed_styling.klaviyo_condensed_embed_LW6VmH {
  font-family: "Helvetica Neue", Arial;
}.klaviyo_styling.klaviyo_condensed_embed_LW6VmH label,
.klaviyo_condensed_styling.klaviyo_condensed_embed_LW6VmH label {
  color:#222;
}.klaviyo_styling.klaviyo_condensed_embed_LW6VmH input[type=text],
.klaviyo_styling.klaviyo_condensed_embed_LW6VmH input[type=email],
.klaviyo_condensed_styling.klaviyo_condensed_embed_LW6VmH input[type=text],
.klaviyo_condensed_styling.klaviyo_condensed_embed_LW6VmH input[type=email] {
  border-radius: 2px;
}.klaviyo_styling.klaviyo_condensed_embed_LW6VmH .klaviyo_submit_button,
.klaviyo_condensed_styling.klaviyo_condensed_embed_LW6VmH .klaviyo_submit_button {
  background-color:#061C2A;
  border-radius: 2px;
}.klaviyo_styling.klaviyo_condensed_embed_LW6VmH .klaviyo_submit_button:hover,
.klaviyo_condensed_styling.klaviyo_condensed_embed_LW6VmH .klaviyo_submit_button:hover {
  background-color:#061C2A;
}
</style>
<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
<script type="text/javascript">
  KlaviyoSubscribe.attachToForms('#email_signup', {
    hide_form_on_success: true
  });
</script>


				</div>
		</div>
		
		<div id="password--site-owner-options">
			<p><a href="#" id="password-show">{{ 'coming_soon.general.password' | t }}</a></p>
		</div>
		<div id="footer">
			<div id='powered'>
				
			</div>
		</div>
		
	</div>
	
{{ 'logo.png' | asset_url | img_tag }}
      
</div>
  
{{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  
<script type="text/javascript">
	document.getElementById('password').focus();
	$( "#password-show" ).click(function() {
	  $( "#site-header" ).slideToggle( "slow");
	});
	$( ".password--close a" ).click(function() {
	  $( "#site-header" ).slideToggle( "slow");
	});
	$(function() {
	  if ( $('.storefront-password-form .errors').size() ) {
	    $( "#site-header" ).slideToggle( "slow");
	  }
	});
</script>
  
</body>
</html>